{% extends "/auth/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<br/>
<div class="page-header" align="center">

    <h3>Register New Role</h3>
</div>
<div class="container">

        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {{ wtf.quick_form(form_role) }}
        </div>
</div>

    <h3>User list</h3>
</div>
<div class="container" align="center">
{% for role in roles %}
    <ul>
        <li>{{ role.id }} - {{ role.name }}</li>

    </ul>
{% endfor %}

</div>

{% endblock %}